{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Mesin Pencari Sederhana</title>
    <link rel="stylesheet" href="{% static 'cosinesimilarity/css/style.css' %}">
</head>
<body>
    <h1>Mesin Pencari Sederhana</h1>
    <form action="search" method='post'>
        {% csrf_token %} {% comment %} using token to send the data {% endcomment %}
        <input type="text" name="searchText" placeholder="Cari...">
        <input type="submit" value="Cari">
    </form>
    <p>{{ cosinesimilarity }}</p>
    <hr>
    <p>Hasil Pencarian: (diurutkan dari tingkat kemiripan tertinggi)</p>
    <hr>
    <a href="/about">Perihal</a>


</body>
</html>